@import url("./libs/vendors/codemirror/codemirror.min.css");
@import url("./libs/vendors/codemirror/base16-dark.css");

:host,
:root {
  --hlx-importer-bg: #f1f1f1;
  --hlx-importer-color: #0f0f0f;
  --hlx-importer-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --hlx-importer-font-size: 16px;
  --hlx-importer-line-height: 1.4;
  --hlx-importer-button-bg: #1473e6;
  --hlx-importer-button-pressed-bg: #1267CE;
  --hlx-importer-button-color: var(--hlx-importer-bg);
  --hlx-importer-menu-bg: #EBEBEB;
  --hlx-importer-menu-border: #D6D6D6;
  --hlx-importer-menu-highlight: #C2C2C2;
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --hlx-importer-bg: #0f0f0f;
    --hlx-importer-color: #f1f1f1;
    --hlx-importer-button-color: var(--hlx-importer-color);
    --hlx-importer-menu-bg: #1e1e1e;
    --hlx-importer-menu-border: #2d2d2d;
    --hlx-importer-menu-highlight: #323232;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--hlx-importer-bg);
  color: var(--hlx-importer-color);
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
  line-height: var(--hlx-importer-line-height);
  overflow: hidden;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

/* header */
.header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 1rem;
}

.header svg {
  height: 1.6rem;
  padding-right: .8rem;
}

/* container */
.container {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.container > div {
  border: 1px solid var(--hlx-importer-menu-border);
  border-right: 0;
}

.container > div:last-child {
  border-right: 1px solid var(--hlx-importer-menu-border);
}

.container > div:not(.resizer) {
  flex: 1 0 calc((100% / 3) - 3rem);
}

.container > .resizer {
  flex: 0 0 1rem;
  cursor: col-resize;
}

/* minimized */
.container > div[aria-expanded=false] {
  min-width: unset;
}

.container > div[aria-expanded=false] .tabs {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100%;
}

.container > div[aria-expanded=false] .panels {
  visibility: hidden;
  display: none;
}

/* tabs */
.tabs {
  height: 3.2rem;
  overflow: hidden;
}

.tabs .tab {
  display: inline-block;
  padding: .8rem;
  cursor: pointer;
}

.tabs .tab.active {
  border-top: .2rem solid var(--hlx-importer-menu-highlight);
  background: var(--hlx-importer-menu-bg);
}

/* panels */
.panels {
  height: calc(100% - 3.2rem);
  padding: 1rem;
  background: var(--hlx-importer-menu-bg);
  overflow-y: auto;
}

/* actions panel */
.container .actions {
  min-width: 184px;
}

#urls {
  height: 50%;
  font-family: monospace;
}

.container .actions .toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.container .actions .toolbar span {
  white-space: nowrap;
  margin-top: 1rem;
}

.container .actions .options-form > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container .actions .options-form > div label {
  margin-right: .4rem;
  white-space: nowrap;
}

.container .actions .options-form > div input:not([type="checkbox"]) {
  width: unset;
  flex: 1 1 content;
}

/* frame panel */
.container .frame {
  min-width: 128px;
}

.container .frame .panels > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#contentFrame {
  height: calc(100% / .45);
  width: calc(100% / .45);
  transform: scale(0.45);
  transform-origin: 0 0;
  -moz-transform: scale(0.45);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.45);
  -webkit-transform-origin: 0 0;
  overflow-x: hidden;
}

/* transformer panel */
.container .result {
  min-width: 258px;
  color: var(--hlx-importer-color);
}

.container .result .panels {
  padding: 0;
}

.container .result [data-panel=markdown], .container .result [data-panel=crawled] {
  padding: 1rem;
}

.transformer .code {
  flex: 1 1 auto;
  padding-top: 0;
  position: relative;
  height: 100%;
}

.transformer .code .CodeMirror {
  height: 100%;
  padding-top: 1rem;
}

#markdownPreview {
  /* flex: 1 1 auto; */
  /* margin-top: 0; */
  /* height: 460px; */
  /* width: 100%; */
  /* position: relative; */
  /* overflow: scroll; */
  /* overflow-x: hidden; */

  /* background-color: white; */
  /* color: black; */

  /* padding: 0 16px 0 10px; */
  line-height: var(--hlx-importer-line-height);
}

#markdownPreview h2 {
  margin: unset;
}

#markdownPreview img {
  max-width: 100%;
}

#markdownPreview table,
#markdownPreview th,
#markdownPreview td {
  max-width: 100%;
  border: 1px solid var(--hlx-importer-menu-highlight);
  border-collapse: collapse;
  color: var(--hlx-importer-color);
}

#markdownPreview table {
  width: 100%;
  margin: 1rem 0;
}

#markdownPreview th {
  background: var(--hlx-importer-button-bg);
}

.transformer .CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

/* crawler */
#crawledURLs ul {
  padding-left: 1rem;
}

#crawledURLs a {
  color: var(--hlx-importer-color);
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
  line-height: var(--hlx-importer-line-height);
  word-break: break-word;
}

/* forms */
label {
  display: block;
  margin: .2rem 0;
  line-height: 2;
}

input:not([type=checkbox]), textarea, iframe {
  width: 100%;
  border: 0;
}

input:not([type=checkbox]), textarea {
  padding: .4rem;
  border: 1px solid var(--hlx-importer-menu-border);
  background: var(--hlx-importer-bg);
  color: var(--hlx-importer-color);
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
}

input:not([type=checkbox]):focus, textarea:focus {
  outline: .2rem solid var(--hlx-importer-button-bg);
}

/* buttons */
button {
  border: 0;
  border-radius: 8rem;
  margin: 1rem .4rem 0 0;
  padding: .6rem 1rem;
  background: var(--hlx-importer-button-bg);
  color: var(--hlx-importer-button-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}

button:hover, button:focus {
  background: var(--hlx-importer-button-pressed-bg);
}

button:disabled {
  background: var(--hlx-importer-menu-highlight);
  cursor: not-allowed;
}
