@import url("./libs/vendors/codemirror/codemirror.min.css");
@import url("./libs/vendors/codemirror/base16-dark.css");

:host,
:root {
  --hlx-importer-bg: #e0e0e0;
  --hlx-importer-color: #505050;
  --hlx-importer-border: none;
  --hlx-importer-border-radius: 10px;
  --hlx-importer-font-family: arial, helvetica, sans-serif;
  --hlx-importer-font-size: 16px;
  --hlx-importer-line-height: 1;
  --hlx-importer-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  --hlx-importer-button-color: #707070;
  --hlx-importer-button-bg: transparent;
  --hlx-importer-button-border: solid 1px var(--hlx-importer-button-color);
  --hlx-importer-button-font-size: 16px;
  --hlx-importer-button-font-weight: 500;
  --hlx-importer-button-padding: 5px 8px;
  --hlx-importer-button-hover-bg: #707070;
  --hlx-importer-button-hover-border: #707070;
  --hlx-importer-button-hover-color: white;
  --hlx-importer-button-pressed-bg: #c0c0c0;
  --hlx-importer-button-pressed-color: #505050;
  --hlx-importer-button-border-radius: 6px;
  --hlx-importer-button-disabled-color: #909090;
  --hlx-importer-button-disabled-border: solid 1px var(--hlx-importer-button-disabled-color);
  --hlx-importer-button-disabled-hover-bg: transparent;
  --hlx-importer-modal-overlay-bg: rgba(0,0,0, 0.5);
  --hlx-importer-tab-bg: rgba(127, 127, 127, 0.8);
  --hlx-importer-modal-bg-0: #e60016;
  --hlx-importer-modal-bg-1: #e67316;
  --hlx-importer-modal-color: white;
  --hlx-importer-modal-font-size: 20px;
  --hlx-importer-special-view-button-color: rgba(0,0,0, 0.5);
  --hlx-importer-special-view-table-border: rgba(0,0,0, 0.5);
  --wait-animation: hlx-importer-heartbeat 2s ease-in-out infinite both;

}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --hlx-importer-bg: #303030;
    --hlx-importer-color: #dedede;
    --hlx-importer-button-color: #dedede;
    --hlx-importer-button-hover-bg: #909090;
    --hlx-importer-button-hover-border: var(--hlx-importer-color);
    --hlx-importer-button-hover-color: #303030;
    --hlx-importer-button-pressed-bg: #505050;
    --hlx-importer-button-pressed-color: white;
    --hlx-importer-button-disabled-color: #707070;
    --hlx-importer-button-disabled-border: solid 1px var(--hlx-importer-button-disabled-color);
    --hlx-importer-modal-overlay-bg: rgba(127, 127, 127, 0.8);
    --hlx-importer-special-view-button-color: rgba(127, 127, 127, 0.8);
    --hlx-importer-special-view-table-border: rgba(127, 127, 127, 0.8);
  }
}

.container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.container .actions {
  padding-left: 20px;
  width: 20%;
  min-width: 300px;
}

.tabs {
  width: 100%;
  background-color: var(--hlx-importer-tab-bg);
  height: 44px;
  margin-left: 4px;
}

.tabs .tab {
  border: none;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  cursor: hand;
  text-align: center;
  min-width: 160px;
  height: 100%;
  vertical-align: middle;
  padding-top: 9px;
}

.tabs .tab.active {
  background-color: var(--hlx-importer-bg);
}

#urls {
  width: 100%;
  height: 260px;
  /* height: 40px; */
}

.container .frame {
  width: 630px;
  height: 440px;
  margin: 0 20px;
}

#contentFrame {
  width: 1800px;
  height: 1257px;
  margin: 0 auto;
  display: block;
  transform: scale(0.35);
  transform-origin: 0 0;
  -moz-transform: scale(0.35);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.35);
  -webkit-transform-origin: 0 0;
}

body {
  background: var(--hlx-importer-bg);
  color: var(--hlx-importer-color);
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
  line-height: var(--hlx-importer-line-height);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  margin: 10px 4px;
}

.hidden {
  display: none;
}

.transformer {
  color: var(--hlx-importer-color);
  width: 100vw;
  min-height: 500px;
  box-sizing: border-box;
  padding-right: 20px;
}

.panels {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.panels > * {
  flex-grow: 1;
  width: 100%;
}

.code {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
  margin: 2px;
}


#markdownPreview {
  flex: 1 1 auto;
  margin-top: 0;
  height: 440px;
  width: 100%;
  position: relative;
  margin-left: 5px;
  overflow: scroll;
  overflow-x: hidden;

  background-color: white;
  color: black;

  padding-right: 4px;
}

#markdownPreview img {
  max-width: 100%;
}
#markdownPreview table,
#markdownPreview th,
#markdownPreview td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  max-width: 100%;
  color: black;
}
#markdownPreview table {
  margin: 40px 2px;
  width: 100%;
}

#markdownPreview th {
  background-color: lightblue;
}

.CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

button {
  background-color: transparent;
  border: var(--hlx-importer-button-border);
  border-radius: var(--hlx-importer-button-border-radius);
  color: var(--hlx-importer-button-color);
  font-size: var(--hlx-importer-button-font-size);
  line-height: var(--hlx-importer-button-line-height);
  font-family: var(--hlx-importer-font-family);
  font-weight: var(--hlx-importer-button-font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--hlx-importer-button-padding);
  cursor: pointer;
  outline: none;
  min-width: 28px;
  min-height: 28px;
  max-height: 28px;
  margin: 2px 8px 0 0;
}

button:hover,
button:focus,
button:hover,
button:focus {
  background-color: var(--hlx-importer-button-hover-bg);
  border-color: var(--hlx-importer-button-hover-border);
  color: var(--hlx-importer-button-hover-color);
}

button.pressed {
  background-color: var(--hlx-importer-button-pressed-bg);
  color: var(--hlx-importer-button-pressed-color);
}

button:disabled {
  color: var(--hlx-importer-button-disabled-color);
  border: var(--hlx-importer-button-disabled-border);
}

button:disabled:hover {
  background-color: var(--hlx-importer-button-disabled-hover-bg);
}