@import url("./libs/vendors/codemirror/codemirror.min.css");
@import url("./libs/vendors/codemirror/base16-dark.css");

:host,
:root {
  --hlx-importer-bg: #f1f1f1;
  --hlx-importer-color: #0f0f0f;
  --hlx-importer-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --hlx-importer-font-size: 16px;
  --hlx-importer-line-height: 1.4;
  --hlx-importer-button-bg: #1473e6;
  --hlx-importer-button-pressed-bg: #1267CE;
  --hlx-importer-button-color: var(--hlx-importer-bg);
  --hlx-importer-menu-bg: #EBEBEB;
  --hlx-importer-menu-border: #D6D6D6;
  --hlx-importer-menu-highlight: #C2C2C2;
  /* aem ui */
  --aem-sidekick-bg: #eee;
  --aem-sidekick-color: #333;
  --aem-sidekick-white: #ffffff;
  --aem-sidekick-gray-1: #f2f2f2;
  --aem-sidekick-gray-2: var(--aem-sidekick-bg);
  --aem-sidekick-gray-3: #dcdcdc;
  --aem-sidekick-gray-4: #b7b7b7;
  --aem-sidekick-gray-5: #656566;
  --aem-sidekick-green: #93b93a;
  --aem-sidekick-green-dark: #0a680f;
  --aem-sidekick-header-gradient: linear-gradient(180deg, 
    #bfd05d 0%, var(--aem-sidekick-green) 49%, #76aa1f 50%,var(--aem-sidekick-green) 100%);
  --aem-sidekick-header-color: #2c5008;
  --aem-sidekick-header-border: #5f9019;
  --aem-sidekick-light-gradient: linear-gradient(180deg, 
    var(--aem-sidekick-white) 0%, var(--aem-sidekick-gray-1) 49%, var(--aem-sidekick-gray-2) 50%, var(--aem-sidekick-gray-2) 100%);
  --aem-sidekick-dark-gradient: linear-gradient(180deg, 
    var(--aem-sidekick-gray-3) 0%, var(--aem-sidekick-gray-2) 100%);
  --aem-sidekick-tab-gradient: linear-gradient(180deg,
    var(--aem-sidekick-gray-2) 0%, var(--aem-sidekick-gray-3) 100%);
  --aem-sidekick-highlight-gradient: linear-gradient(-45deg, 
    #a3f18e 0%, #45c12e 50%, #a3f18e 100%);
  /* bit ui */
  --bit-white: #efefef;
  --bit-black: #000;
  --bit-font-family: "ChicagoFLF", monospace;
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --hlx-importer-bg: #0f0f0f;
    --hlx-importer-color: #f1f1f1;
    --hlx-importer-button-color: var(--hlx-importer-color);
    --hlx-importer-menu-bg: #1e1e1e;
    --hlx-importer-menu-border: #2d2d2d;
    --hlx-importer-menu-highlight: #323232;
    /* bit ui */
    /* --bit-white: #000;
    --bit-black: #fff; */
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--hlx-importer-bg);
  color: var(--hlx-importer-color);
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
  line-height: var(--hlx-importer-line-height);
  overflow: hidden;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 1rem;
}

.header .brand {
  display: flex;
  align-items: center;
}

.header svg {
  height: 1.6rem;
  padding-right: .8rem;
}

/* slider */
.slider-container .slider {
  width: 100%;
  height: 1rem;
  margin-bottom: .4rem;
  padding: 0 1rem;
  outline: none;
  border-radius: 1rem;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: var(--hlx-importer-menu-highlight);
}

.slider-container .slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--hlx-importer-menu-highlight);
}

.slider-container .slider:focus {
  outline: 0;
}

.slider-container .slider:focus::-webkit-slider-thumb {
  background: var(--hlx-importer-button-bg);
}

.slider-container .slider:focus::-moz-range-thumb {
  background: var(--hlx-importer-button-bg);
}

.slider-container .slider-options {
  display: flex;
  justify-content: space-between;
  color: var(--hlx-importer-menu-highlight);
  font-size: .8rem;
  text-transform: uppercase;
}

.slider-container .slider-options span {
  width: 33%;
  text-align: center;
}

/* container */
.container {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.container > div {
  border: 1px solid var(--hlx-importer-menu-border);
  border-right: 0;
}

.container > div:last-child {
  border-right: 1px solid var(--hlx-importer-menu-border);
}

.container > div:not(.resizer) {
  flex: 1 0 calc((100% / 3) - 3rem);
}

.container > .resizer {
  flex: 0 0 1rem;
  cursor: col-resize;
}

/* minimized */
.container > div[aria-expanded=false],
body.aem .container > div[aria-expanded=false],
body.bit .container > div[aria-expanded=false] {
  min-width: unset;
}

.container > div[aria-expanded=false] .tabs,
body.aem .container > div[aria-expanded=false] .tabs,
body.bit .container > div[aria-expanded=false] .tabs {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100%;
}

.container > div[aria-expanded=false] .panels,
body.aem .container > div[aria-expanded=false] .panels,
body.bit .container > div[aria-expanded=false] .panels {
  visibility: hidden;
  display: none;
}

/* tabs */
.tabs {
  height: 3.2rem;
  overflow: hidden;
}

.tabs .tab {
  display: inline-block;
  padding: .8rem;
  cursor: pointer;
}

.tabs .tab.active {
  border-top: .2rem solid var(--hlx-importer-menu-highlight);
  background: var(--hlx-importer-menu-bg);
}

/* panels */
.panels {
  height: calc(100% - 3.2rem);
  padding: 1rem;
  background: var(--hlx-importer-menu-bg);
  overflow-y: auto;
}

/* actions panel */
.container .actions {
  min-width: 184px;
}

#urls {
  height: 50%;
  font-family: monospace;
}

.container .actions .toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.container .actions .toolbar span {
  white-space: nowrap;
  margin-top: 1rem;
}

.container .actions .options-form > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container .actions .options-form > div label {
  margin-right: .4rem;
  white-space: nowrap;
}

.container .actions .options-form > div input:not([type="checkbox"]) {
  width: unset;
  flex: 1 1 content;
}

/* frame panel */
.container .frame {
  min-width: 128px;
}

.container .frame .panels > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#contentFrame {
  height: calc(100% / .45);
  width: calc(100% / .45);
  transform: scale(0.45);
  transform-origin: 0 0;
  -moz-transform: scale(0.45);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.45);
  -webkit-transform-origin: 0 0;
  overflow-x: hidden;
}

/* transformer panel */
.container .result {
  min-width: 258px;
  color: var(--hlx-importer-color);
}

.container .result .panels {
  padding: 0;
}

.container .result [data-panel=markdown], .container .result [data-panel=crawled] {
  padding: 1rem;
}

.transformer .code {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  padding-top: 0;
}

.transformer .CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.transformer .code .CodeMirror {
  height: 100%;
  padding-top: 1rem;
}

.transformer .code .cm-s-base16-dark.CodeMirror {
  background: #1e1e1e;
}

.transformer .code .cm-s-base16-dark .CodeMirror-gutters {
  background: #1e1e1e;
}

#markdownPreview {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  line-height: var(--hlx-importer-line-height);
  overflow-x: hidden;
  overflow-y: auto;
}

#markdownPreview h2 {
  margin: unset;
}

#markdownPreview img {
  max-width: 100%;
}

#markdownPreview table,
#markdownPreview th,
#markdownPreview td {
  max-width: 100%;
  border: 1px solid var(--hlx-importer-menu-highlight);
  border-collapse: collapse;
  color: var(--hlx-importer-color);
}

#markdownPreview table {
  width: 100%;
  margin: 1rem 0;
}

#markdownPreview th {
  background: var(--hlx-importer-button-bg);
}

/* crawler */
#crawledURLs ul {
  padding-left: 1rem;
}

#crawledURLs a {
  color: var(--hlx-importer-color);
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
  line-height: var(--hlx-importer-line-height);
  word-break: break-word;
}

/* forms */
label {
  display: block;
  margin: .2rem 0;
  line-height: 2;
}

input:not([type=checkbox]), textarea, iframe {
  width: 100%;
  border: 0;
}

input:not([type=checkbox]), textarea {
  padding: .4rem;
  border: 1px solid var(--hlx-importer-menu-border);
  background: var(--hlx-importer-bg);
  color: var(--hlx-importer-color);
  font-family: var(--hlx-importer-font-family);
  font-size: var(--hlx-importer-font-size);
}

input:not([type=checkbox]):focus, textarea:focus {
  outline: .2rem solid var(--hlx-importer-button-bg);
}

/* buttons */
button {
  border: 0;
  border-radius: 8rem;
  margin: 1rem .4rem 0 0;
  padding: .6rem 1rem;
  background: var(--hlx-importer-button-bg);
  color: var(--hlx-importer-button-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}

button:hover, button:focus {
  background: var(--hlx-importer-button-pressed-bg);
}

button:disabled {
  background: var(--hlx-importer-menu-highlight);
  cursor: not-allowed;
}

/* aem */
body.aem {
  background: var(--aem-sidekick-bg);
  color: var(--aem-sidekick-color);
}

body.aem .header {
  border-bottom: 1px ridge var(--aem-sidekick-header-border);
  background: var(--aem-sidekick-green);
  background: var(--aem-sidekick-header-gradient);
  color: var(--aem-sidekick-header-color);
}

body.aem .header svg circle {
  fill: var(--aem-sidekick-white);
}

body.aem .header h1 {
  border-left: 1px ridge var(--aem-sidekick-header-border);
  padding-left: .6rem;
}

body.aem .slider-container .slider {
  height: 4px;
  border-radius: 4px;
  border: 1px solid var(--aem-sidekick-gray-4);
}

body.aem .slider-container .slider::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  background: var(--aem-sidekick-gray-2);
  background: var(--aem-sidekick-light-gradient);
  border: 1px solid var(--aem-sidekick-gray-4);
}

body.aem .slider-container .slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  background: var(--aem-sidekick-gray-2);
  background: var(--aem-sidekick-light-gradient);
  border: 1px solid var(--aem-sidekick-gray-4);
}

body.aem .slider-container .slider:focus {
  outline: 0;
  border-style: solid;
}

body.aem .slider-container .slider:focus::-webkit-slider-thumb {
  background: var(--aem-sidekick-highlight-gradient);
  border: 1px solid var(--aem-sidekick-green-dark);
}

body.aem .slider-container .slider:focus::-moz-range-thumb {
  background: var(--aem-sidekick-highlight-gradient);
  border: 1px solid var(--aem-sidekick-green-dark);
}

body.aem .slider-container .slider-options {
  color: var(--aem-sidekick-header-color);
}

body.aem .container > div {
  border: 1px solid var(--aem-sidekick-gray-4);
  border-right: 0;
}

body.aem .container > div:last-child {
  border-right: 1px solid var(--aem-sidekick-gray-4);
}

body.aem .tabs {
  padding-top: 8px;
  padding-left: 4px;
  background: var(--aem-sidekick-tab-gradient);
}

body.aem .tabs .tab {
  border: 1px solid var(--aem-sidekick-gray-4);
  border-bottom: 1px solid var(--aem-sidekick-gray-3);
  border-radius: .6rem .6rem 0 0;
  padding: 9.25px .8rem;
  background: var(--aem-sidekick-dark-gradient);
  color: var(--aem-sidekick-color);
}

body.aem .container > div[aria-expanded=false] .tabs {
  padding-right: 4px;
}

body.aem .container > div[aria-expanded=false] .tabs .tab {
  border-radius: .6rem;
  border-bottom-color: var(--aem-sidekick-gray-4);
}

body.aem .tabs .tab[data-tab]::before {
  padding-right: 4px;
}

body.aem .container > div[aria-expanded=false] .tabs .tab[data-tab]::before {
  padding-right: 0;
  padding-bottom: 4px;
}

body.aem .tabs .tab[data-tab=actions]::before {
  content: url(../images/action.png);
}

body.aem .tabs .tab[data-tab=options]::before {
  content: url(../images/options.png);
}

body.aem .tabs .tab[data-tab=pagePreview]::before {
  content: url(../images/preview.png);
}

body.aem .tabs .tab[data-tab=markdown]::before {
  content: url(../images/markdown.png);
}

body.aem .tabs .tab[data-tab=source]::before {
  content: url(../images/source.png);
}

body.aem .tabs .tab[data-tab=html]::before {
  content: url(../images/html.png);
}

body.aem .tabs .tab.active {
  border-top: 1px solid var(--aem-sidekick-gray-4);
  border-bottom: 1px solid var(--aem-sidekick-gray-2);
  background: var(--aem-sidekick-gray-2);
  background: var(--aem-sidekick-light-gradient);
  font-weight: bold;
}

body.aem .panels {
  background: var(--aem-sidekick-gray-2);
}

body.aem #urls {
  font-family: var(--hlx-importer-font-family);
}

body.aem .container .actions {
  min-width: 220px;
}

body.aem .container .frame {
  min-width: 160px;
}

body.aem .container .result {
  min-width: 336px;
  color: var(--aem-sidekick-color);
}

body.aem button {
  border: 1px ridge var(--aem-sidekick-gray-3);
  border-radius: 4px;
  background: var(--aem-sidekick-light-gradient);
  color: var(--aem-sidekick-color);
  font-weight: normal;
  padding: 6px 8px 4px 8px;
  font-size: .8rem;
}

body.aem button:hover, body.aem button:focus {
  background: var(--aem-sidekick-dark-gradient);
  border-style: inset;
}

body.aem button:disabled {
  background: var(--aem-sidekick-gray-3);
}

body.aem button:disabled:hover,
body.aem button:disabled:focus {
  border-style: ridge;
}


body.aem input:not([type=checkbox]), body.aem textarea {
  border: 1px ridge var(--aem-sidekick-gray-3);
  background: var(--aem-sidekick-white);
  color: var(--aem-sidekick-color);
}

body.aem input:not([type=checkbox]):focus, body.aem textarea:focus {
  outline: 0;
  border-style: inset;
}

/* 8bit ui */
@font-face {
  font-family: ChicagoFLF;
  src: url('../fonts/ChicagoFLF.eot?') format('eot'),
    url('../fonts/ChicagoFLF.woff2') format('woff2'),
    url('../fonts/ChicagoFLF.woff') format('woff'),
    url('../fonts/ChicagoFLF.ttf') format('truetype');
}

body.bit {
  background: var(--bit-white);
  color: var(--bit-black);
  font-family: var(--bit-font-family);
  font-size: 12px;
  line-height: 1;
  font-smooth: never;
}

body.bit h1, body.bit h2 {
  font-size: 14px;
}

body.bit .header {
  background: var(--bit-white);
  background-size: 100% 4px;
  margin: 4px 0;
}

body.bit .header .brand,
body.bit .header .slider-container {
  background: var(--bit-white);
  padding: 1rem;
}

body.bit svg {
  height: 12px;
}

body.bit .header svg circle {
  fill: var(--bit-black);
}

body.bit .slider-container .slider {
  height: 1rem;
  border-radius: 3px;
  border: 1px solid var(--bit-white);
  outline: 1px solid var(--bit-black) !important;
  background: var(--bit-white);
  background:
    linear-gradient(45deg, var(--bit-black) 25%, transparent 25%), 
    linear-gradient(135deg, var(--bit-black) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--bit-black) 75%),
    linear-gradient(135deg, transparent 75%, var(--bit-black) 75%);
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 0, 1.5px -1.5px, 0px 1.5px;
}

body.bit .slider-container .slider::-webkit-slider-thumb {
  width: .8rem;
  height: 1.8rem;
  border-radius: 3px;
  background: var(--bit-white);
  border: 1px solid var(--bit-white);
  outline: 1px solid var(--bit-black);
}

body.bit .slider-container .slider::-moz-range-thumb {
  width: .8rem;
  height: 1.8rem;
  border-radius: 3px;
  background: var(--bit-black);
  border: 1px solid var(--bit-white);
  outline: 1px solid var(--bit-black);
}

body.bit .slider-container .slider:focus::-webkit-slider-thumb {
  background: var(--bit-black);
}

body.bit .slider-container .slider:focus::-moz-range-thumb {
  background: var(--bit-black);
}

body.bit .slider-container .slider-options {
  padding-top: 3px;
  color: var(--bit-black);
  font-size: .6rem;
}

body.bit .container > div {
  border: 1px solid var(--bit-black);
  border-right: 0;
}

body.bit .container > div:last-child {
  border-right: 1px solid var(--bit-black);
}

body.bit .tabs {
  height: 2.3rem;
}

body.bit .tabs .tab {
  background: var(--bit-white);
  color: var(--bit-black);
}

body.bit .tabs .tab.active {
  border-top: 1px solid var(--bit-white);
  border-left: 1px solid var(--bit-white);
  background: var(--bit-black);
  color: var(--bit-white);
}

body.bit .container > div[aria-expanded=false] .tab.active {
  border-right: 1px solid var(--bit-white);
}

body.bit .panels {
  height: calc(100% - 2.3rem);
}

body.bit .panels {
  background: var(--bit-white);
  border-top: 1px solid var(--bit-black);
}

body.bit #urls {
  font-family: inherit;
  font-size: inherit;
}

body.bit .container .actions {
  min-width: 154px;
}

body.bit .container .actions .options-form > div {
  padding: 2px 0;
}

body.bit .container .frame {
  min-width: 118px;
}

body.bit .container .result {
  min-width: 238px;
  color: var(--bit-black);
}

body.bit #markdownPreview {
  color: var(--color-black);
}

body.bit .transformer .code .cm-s-base16-dark.CodeMirror {
  background: #000;
}

body.bit .transformer .code .cm-s-base16-dark .CodeMirror-gutters {
  background: #000;
}

body.bit button {
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid var(--bit-black);
  background: var(--bit-white);
  color: var(--bit-black);
}

body.bit button:hover, body.bit button:focus {
  background: var(--bit-black);
  color: var(--bit-white);
}

body.bit button:disabled {
  background: var(--bit-white);
  background:
    linear-gradient(45deg, var(--bit-black) 25%, transparent 25%), 
    linear-gradient(135deg, var(--bit-black) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--bit-black) 75%),
    linear-gradient(135deg, transparent 75%, var(--bit-black) 75%);
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 0, 1.5px -1.5px, 0px 1.5px;
  text-shadow: -1px 1px 0 var(--bit-white), 
    1px 1px 0 var(--bit-white), 
    1px -1px 0 var(--bit-white), 
    -1px -1px 0 var(--bit-white);
}

body.bit button:disabled:hover,
body.bit button:disabled:focus {
  color: var(--bit-black);
}

body.bit input:not([type=checkbox]), body.bit textarea {
  border: 1px solid var(--bit-black);
  background: var(--bit-white);
  color: var(--bit-black);
  font-family: inherit;
  font-size: inherit;
}

body.bit input:not([type=checkbox])::placeholder,
body.bit textarea::placeholder {
  color: var(--bit-black);
}

body.bit input:not([type=checkbox]):focus, body.bit textarea:focus {
  outline: 0;
  box-shadow: 2px 2px var(--bit-black);
}

body.bit input:not([type=checkbox]):focus::placeholder,
body.bit textarea:focus::placeholder {
  opacity: .5;
}
